.support-container {
  min-height: 313px;
  padding: 64px 48px;
  background-position: center;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("../../assets/handshake.jpg") lightgray 50% / cover no-repeat;
  margin-bottom: 80px;
  margin-bottom: 80px;
}
.support__details-title {
  color: var(--white-color);
  text-align: center;
  font-family: var(--Azert-mono);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}
.support__details-subtitle {
  color: var(--white-color);
  text-align: center;
  font-family: var(--Azert-mono);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}
.support__options {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.support__options_feedback {
  padding: 19px 20px;
  width: 548px;
  border-radius: 8px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  font-family: var(--Azert-mono);
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.support__options_button {
  color: var(--text-color);
  text-align: center;
  font-family: var(--Azert-mono);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 17px 20px;
  border-radius: 8px;
  border: none;
}
